:root {
	--primary: #8e55fb;
}

html {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background-color: #f9f9f9;
}

nav {
	display: flex;
	justify-content: center;
	padding: 15px 0;
	margin: 15px auto;
	border-radius: 15px;
	background-color: #ffffff;
	width: 50%;
	box-shadow: 0 2px 5px #d6d6d6;
}

button.nav-link {
	font-size: 20px;
	background-color: transparent;
	color: grey;
	border: 0;
	cursor: pointer;
	margin: 0 20px;
	font-weight: 600;
}

button.nav-link.logout {
	position: absolute;
	right: 30px;
}

button.nav-link.logout:hover {
	color: red;
}

button.nav-link:hover {
	color: black;
}

button.nav-link.active {
	color: var(--primary);
}

div.card {
	background-color: white;
	margin: 20px;
	padding: 20px;
	border-radius: 15px;
	box-shadow: 0 2px 5px #d6d6d6;
}
